@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Space Mono", sans-serif;
}

body {
    background-color: hsl(185, 41%, 84%);
    overflow-y: hidden;
}

.header {
    display: flex;
    justify-content: center;
    margin-block: 50px;
}

.container-main {
    display: flex;
    width: 920px;
    height: 490px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
}

.top-div {
    padding: 30px;
    width: 50%;
}

.label {
    font-size: 14px;
    color: hsl(186, 14%, 43%);
    font-weight: 700;
    margin-bottom: 20px;
}

.container-input {
    position: relative;
}

#input {
    margin-block: 0 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    cursor: pointer;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-size: 18px;
    width: 379px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#input:focus {
    outline: none;
}

.dollar-icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.container-tips {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.tip {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(183, 100%, 15%);
    color: #fff;
    font-size: 20px;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    cursor: pointer;
}

.tip:hover {
    background-color: #9ee8df;
    color: #004a4d;
}

.active {
    background-color: #26c2ad;
    color: #004a4d;
}

#custom {
    border: none;
    padding: 10px;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    width: 100%;
}

#custom::placeholder {
    font-family: "Space Mono", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    text-align: center;
}

.container-people {
    position: relative;
}

#people {
    position: relative;
    width: 379px;
    bottom: 20px;
    margin-block: 10px 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(189, 41%, 97%);
    text-align: right;
    cursor: pointer;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-size: 18px;
}

#people:focus {
    outline: none;
}

.people-icon {
    position: absolute;
    top: 7px;
    left: 20px;
}

.right-div {
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 20px;
    width: 50%;
    margin-block: 35px;
    margin-right: 35px;
    padding-block: 50px 20px;
    padding-inline: 20px;
    position: relative;
}

.tip-amount,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.text {
    font-size: 20px;
    font-family: "Space Mono", sans-serif;
    color: #fff;
    font-weight: 700;
}

.subtext {
    opacity: 0.5;
}

.value {
    font-size: 30px;
    font-family: "Space Mono", sans-serif;
    color: #1fc4aa;
    font-weight: 700;
}

.reset {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0d686d;
    font-size: 16px;
    color: #0d5b5f;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 355px;
    margin: 0 auto;
}

.reset:hover {
    background-color: #9fe8df;
    color: hsl(183, 100%, 15%);
}
